/*
    AU purple: rgb(70,14,101)
    AU yellow: rgb(204,152,39)
*/

*{ padding:0; margin:0; }

html.au-image {
    background: url("decorative-images/ashland-university-campus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

html.tinted {
    background-color: rgba(149, 165, 166, 1);
    background-blend-mode: multiply;
}

body {
    text-align: center;
    background-color: rgb(70, 14, 101);
    margin: 0 auto;
    width: 70%;
    padding: 0 0 8%;
    min-width: 600px;
    box-shadow: 0 0 15px;
}

nav {
    display: flex;
    text-align: center;
    padding: 10px 10px 10px 20px;
    background-color: rgb(204,152,39);
    box-shadow: 0 0 5px;
}

nav h1 {
    font-size: 36px;
}

nav > div#buttons{
    width: 25%;
}

nav > img#logo {
    width: 15%;
}

nav > div#buttons {
    text-align: right;
    display: block;
}

nav > div#buttons > i {
    float: right;
    padding: 0 8px;
}

nav > div#page-title {
    width: auto;
    text-align: left;
    margin: 0 auto 0 30%;
}





div#home-container{
    height: 100vh;
}

div#home-container img#main-img {
    width: 65%;
    margin: 5% auto;
    background-color: black;
    border: 8px ridge rgb(204,152,39);
}

div#home-container p#input-box {
    height: auto;
    width: 50%;
    margin: auto auto 0;
    padding: 10px 0;
    background-color: gray;
    color: white;

    /* all below is for visualizing. Delete later. */
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

div#bottom-container p {
    height: 200px;
    width: 50%;
    margin: 0 auto 0;
    padding: 10px 0 0;
    background-color: gray;
    color: white;

    /* all below is for visualizing. Delete later. */
    border-style: solid;
    border-color: red;
    border-width: 1px;
}